{% load static %}
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/vendor/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/refer.js' %}"></script>
<main class="myr__main myr__mt3 myr__mb3">
        <div id="signin-form" style="margin: 0 auto">
            <div class="myr__login-wrapper">
    <h5>Refer Patient</h5>
                <form>
        <div class="myr__form myr__mt4">
            <span class="error">Please enter mandatory(*) fields</span>
        <div class="myr__form-row">
            <label for="email">Email*</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="myr__form-row">
            <label for="first_name">First name*</label>
            <div class="myr__form-block">
                <!--<input type="text" name="signin_mobile_number" id="signin_mobile_number">-->
                <input type="text" name="first_name" id="first_name">
            </div>
        </div>
        <div class="myr__form-row">
            <label for="last_name">Last name*</label>
            <div class="myr__form-block">
                <!--<input type="text" name="signin_mobile_number" id="signin_mobile_number">-->
                <input type="text" name="last_name" id="last_name">
            </div>
        </div>
        <div class="myr__form-row">
            <label for="mobile_number">Mobile Number*</label>
            <input type="text" name="mobile_number" id="mobile_number">
        </div>

        <div class="myr__form-row">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
        </div>
        <div class="myr__form-row">
            <label for="diagnosis">Diagnosis</label>
            <textarea name="diagnosis" id="diagnosis"></textarea>
        </div>
                    <div class="myr__form-row">
            <label for="treatment">Treatment</label>
            <textarea name="treatment" id="treatment"></textarea>
        </div>
        <div class="myr__form-row myr__submit">
            <button class="myr__btn myr__button-primary" id="refer">Refer</button>
        </div>
   </div>
                    </form>
</div>
        </div>
    </main>
