.myr {
    &__mb0 {
        margin-bottom: 0;
    }

    &__mt1 {
        margin-top: .625rem;
    }

    &__mt2 {
        margin-top: 1.25rem
    }

    &__mt3 {
        margin-top: 1.875rem;
    }

    &__mt4 {
        margin-top: 2.5rem;
    }

    &__mt5 {
        margin-top: 3.125rem
    }

    &__mt6 {
        margin-top: 3.75rem;
    }

    &__mt8 {
        margin-top: 5rem;
    }

    &__mb1 {
        margin-bottom: .625rem;
    }

    &__mb2 {
        margin-bottom: 1.25rem
    }

    &__mb3 {
        margin-bottom: 1.875rem;
    }

    &__mb4 {
        margin-bottom: 2.5rem;
    }

    &__mb5 {
        margin-bottom: 3.125rem;
    }

    &__mb6 {
        margin-bottom: 3.75rem;
    }

    &__mb7 {
        margin-bottom: 4.375rem;
    }
    &__mb8 {
        margin-bottom: 5rem;
    }
    
    &__mb9 {
        margin-bottom: 5.6rem;
    }

    &__pt1 {
        padding-top: .625rem;
    }
    &__pt2 {
        padding-top: 1.25rem;
    }
    &__pt3 {
        padding-top: 1.875rem;
    }
    &__pt4 {
        padding-top: 2.5rem;
    }
    &__pt5 {
        padding-top: 3.125rem
    }
    &__pb1 {
        padding-bottom: .625rem;
    }
    &__pb2 {
        padding-bottom: 1.25rem
    }
    &__pb3 {
        padding-bottom: 1.875rem
    }
    &__pb4 {
        padding-bottom: 2.5rem
    }
    &__pb5 {
        padding-bottom: 3.125rem
    }

    &__pl1 {
        padding-left: .625rem;
    }

    &__pl2 {
        padding-left: 1.25rem;
    }

    &__pl3 {
        padding-left: 1.875rem
    }

    &__pl4 {
        padding-left: 2.5rem
    }

    &__pl5 {
        padding-left: 3.125rem
    }
}