.myr__form-block input {
  width: 100%;
  height: 2.5rem;
}



@media (max-width: 468px) {
  .myr__cart-form .myr__form-block input {
    width: 100%;
  }
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.myr__main {
    margin: 10px
}

.myr__overlay-wrapper {
    width: 40%;
    margin: 3% auto;
}

.myr__overlay-body{
    width: 100%;
}

.myr__inner{
    margin: 0px 0px;
}

.myr__overlay-content{
    display:block;
}

