{% load static %}

<div class="swiper myr__card-wrapper">
    <div class="swiper-wrapper">
        <!-- card start -->
        <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/pain.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Pain</h6>
                    <p class="myr__mt1">Physiotherapy plays a crucial role in the management of pain. After a thorough
assessment, a therapist will make a treatment goal together with you to help
cure pain and treat the roots of your symptoms to prevent its reoccurrence.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/vestibular.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Fracture and orthopaedic Physiotherapy </h6>
                    <p class="myr__mt1">Physical therapy is a need of hour following immobilization. An early therapy
technique after immobilization has been proven beneficial in increasing
functional outcomes. <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

         <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/neuro.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Paralysis, Bell's palsy and neuro physiotherapy </h6>
                    <p class="myr__mt1">Physiotherapist treats neurological conditions with procedures which help to
regain or maintain functional movement and independence.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/paediatrics-physiotherapy.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>CP and pediatrics physiotherapy </h6>
                    <p class="myr__mt1">Physiotherapist have specialist knowledge in movement science, development
therapies that are likely to affect the baby or growing child and help children
to achieve their optimal physical development.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/sports injury.JPG' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Ligament reconstruction and Physiotherapy for sports injuries  </h6>
                    <p class="myr__mt1">Helps in the prevention and treatment of injuries happened due to sport and
exercise participation.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

         <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/MET.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6> Frozen shoulder, knee pain and Geriatric physiotherapy   </h6>
                    <p class="myr__mt1">Covers a wide range of problems associated with old age like arthritis,
osteoporosis, joint replacement, balance disorders, urinary incontinence, etc
.we help senior citizens to be comfortable and pain-free.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

         <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/Respiratory_Physiotherapy.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Post COVID and respiratory Physiotherapy   </h6>
                    <p class="myr__mt1">This includes many sundry interventions, including but not limiting to early
mobilization and/ or pulmonary rehabilitation techniques, thus reliving effects
on symptoms of respiratory diseases.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

         <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/slider/women.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Women's health related physiotherapy   </h6>
                    <p class="myr__mt1">A women centric Holistic approach including care of conditions associated with
the female private and other nearby areas such as in pregnancy, childbirth etc.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>

          <div class="swiper-slide myr__card-slider">
            <div class="myr__card-wrap">
                <img src="{% static 'images/Postural_Re_Education.jpg' %}" alt="">
                <div class="myr__card-slider-content">
                    <h6>Postural assessment and ergonomical advices    </h6>
                    <p class="myr__mt1">Ergonomic assessments are aimed at reducing the risk of injury within the
workplace by modifying work placement environment.
                        <a href="#" class="myr__cta-arrow"><em class="bi bi-arrow-right-short"></em></a>
                    </p>
                </div>
            </div>
        </div>




    </div>
    <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<!-- End Card Slide -->