{% load static %}

<div class="myr__stats myr__mb2 myr__pt5 myr__pb5">
    <div class="myr__stats-wrap">
        <div class="myr__stats-col">
            <img src="{% static 'images/happy_users.svg' %}" alt="">
            <div class="myr__stats-text">
                <span>2,00,000+</span>
                <span>Happy Users</span>
            </div>
        </div>
        <div class="myr__stats-col">
            <img src="{% static 'images/specialities.svg' %}" alt="">
            <div class="myr__stats-text">
                <span> 20,000+</span>
                <span>Verified Doctors</span>

            </div>
        </div>
        <div class="myr__stats-col">
            <img src="{% static 'images/doctor.svg' %}" alt="">
            <div class="myr__stats-text">
                <span> 25+</span>
                <span>Specialities</span>
            </div>
        </div>
    </div>
</div>