{% load static %}

<!--Hero Banner Component-->
<!--Swiper Slider-->
<div class="myr__home-banner">
    <div class="myr__home-slider">
        <div class="swiper-slide">
            <div class="myr__banner-wrap">
                <div class="myr__banner-image">
                    <div class="myr__banner-content">
                        <h1>Choose end-to-end <span>specialists</span> for all of your <span>medical needs</span> </h1>
                        <p>You're in excellent hands.</p>
                        <a href="#" class="myr__btn myr__button-primary">Find out more</a>
                    </div>
                    <div class="myr__banner-clip">
                        <img src="{% static 'images/baner_graphics.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>