{% load static %}

<div class="myr__offers">
    <div class="myr__offers-wrap">
        <div class="myr__offers-img">
            <img src="{% static 'images/promotion_1.png' %}" alt="">
        </div>
        <div class="myr__offers-content myr__offers-color1">
            <h4>Promotion One</h4>
            <p>(Data Required)</p>
            <a href="#">Know more   <em class="bi bi-arrow-right-short"></em></a>
        </div>
    </div>

    <div class="myr__offers-wrap">
        <div class="myr__offers-img">
            <img src="{% static 'images/promotion_2.png' %}" alt="">
        </div>
        <div class="myr__offers-content myr__offers-color2">
            <h4>Promotion One</h4>
            <p>(Data Required)</p>
            <a href="#">Know more   <em class="bi bi-arrow-right-short"></em></a>
        </div>
    </div>
</div>
<hr class="myr__hr myr__mt4 myr__mb4">