{% load static %}
<style>
    .myr__overlay-wrapper{
        width: 80%;
        overflow-y: scroll;
        max-height: -webkit-fill-available;
    }

    .myr__overlay-body{
        width: 100%;
    }

    .myr__inner{
        margin: 0px 0px;
    }
</style>

  <main class="myr__main myr__inner myr__mb3">
            <div >
                <div>
                    <input type="text" name="friend_mobile_number"  id="friend_mobile_number" placeholder="Enter your friend's number">
                    <a href="#" class="myr__btn myr__button-primary myr__book-appointment modify-apt-btn" >Refer and get prize</a>

                </div>
            </div>


        <!--Search Results Column -->
        <div class="myr__main myr__filter-container" id="dr_search_result">

        </div>
    </main>
