{% load static %}

<div class="myr__physio-slider">
    <div class="myr__sub-title myr__mt2 myr__mb4">
        <h2>Specialized services offered by only certified therapist</h2>
    </div>
    <div class="swiper myr__physio-wrap">
        <div class="swiper-wrapper">
            <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Myofascial trigger point Dry needling</h2>
                    <p>
                        Details - trigger point are tight spot in a connective tissue ( muscle etc.), dry needling is used to loose these tight spots,so you will regain pain free normal movements.
                    </p>
                    <div myr__physio--cta>
                         <a href="common-page.html"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Cupping therapy </h2>
                    <p>
                       Details - An old world form of therapy used to increase blood flow arround injured or inflamed tissue so to promote faster healing.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>
             <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Vestibular & Balance Therapy</h2>
                    <p>
                      Details - vestibular apparatus is a sensory system situated in our ears, it's main function is to provide feedback to brain regarding head movements and it's position with reference to gravity. Vestibular rehabilitation is the protocol to normalise its functions thus  improve balance and reduce symptoms of dizziness.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>

             <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Craniosacral Therapy</h2>
                    <p>
                      Details - Craniosacral therapy is a manual therapy technique that  provide relief in variety of spine related conditions like cervicogenic headache etc. This technique aims  at relieving tension in the central nervous system thus promotes a feeling of well-being by boosting health and immunity.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Muscle Energy Techniques</h2>
                    <p>
                    Details - It is a form of manual therapy, that uses a muscle’s own energy to relex or lengthen tight muscle.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Soft Tissue Mobilization Techniques</h2>
                    <p>
                   Details - A soft tissue mobilization (STM) is a form of manual therapy that uses hands-on techniques on your muscles and ligaments to heal scar tissue that sometimes forms after a soft tissue injury.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>

                <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Joint Moblization Techniques</h2>
                    <p>
                   Details - Mobilization is a manual therapeutic technique that fosters movement in stagnant joints.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>

             <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Kinesiology Taping techniques</h2>
                    <p>
                  Details -  Taping Method is a therapeutic tool widely utilised by certified therapists  in various conditions not limiting to sports injuries.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>

             <div class="swiper-slide myr__physio-content">
                <div class="myr__physio_text">
                    <h2>Neural Moblization Techniques</h2>
                    <p>
                  Details - Neural Mobilization  techniques when perform by certified therapists help  to restore  balance of nervous system thus enhance wellbeing.
                    </p>
                    <div myr__physio--cta>
                        <a href="#"> Learn more <em class="bi bi-arrow-right-short"></em></a>
                        <a href="/profile" class="myr__btn myr__button-primary">Book an Appoinment</a>
                    </div>
                </div>
            </div>


        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<hr class="myr__hr myr__mt4 myr__mb4">