<div class="myr__login-wrapper">
    <h5>Welcome Back 👋</h5>
    <h3>Login to your account</h3>
        <div class="myr__form myr__mt4">
        <div class="myr__form-row">
            <div class="myr__form-radio myr__form-radio-v2 myr__mb2">
                <label class="radio-inline">
                    <input type="radio" name="user_type" value="1" checked="">Pateint
                </label>
                <label class="radio-inline">
                    <input type="radio" name="user_type" value="2" >PT
                </label>
                <label class="radio-inline">
                    <input type="radio" name="user_type" value="3" >Doctor
                </label>
            </div>
        </div>
        <div class="myr__form-row">
            <label for="">Email</label>
            <div class="myr__form-block">
                <!--<input type="text" name="signin_mobile_number" id="signin_mobile_number">-->
                <input type="text" name="signin_email" id="signin_email">
            </div>
        </div>
        <div class="myr__form-row">
            <label for="">Password</label>
            <input type="password" name="password" id= "password">
        </div>
        <div class="myr__form-row myr__submit">
            <button class="myr__btn myr__button-primary"id="login" >Login</button>
        </div>
   </div>
</div>
<div class="myr__signup-link">
    <a href="#">Sign Up</a>
</div>