<div class="myr__five">
    <a href="#">
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-half"></em>
        <span class="myr__rating-text">4+ & up</span>
    </a>
</div>
<div class="four">
    <a href="#">
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-half"></em>
        <span class="myr__rating-text">3+ & up</span>
    </a>
</div>
<div class="myr__three">
    <a href="#">
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-half"></em>
        <span class="myr__rating-text">2+ & up</span>
    </a>
</div>
<div class="myr__two">
    <a href="#">
        <em class="bi bi-star-fill"></em>
        <em class="bi bi-star-half"></em>
        <span class="myr__rating-text">1+ & up</span>
    </a>
</div>
<div class="myr__one">
    <a href="#">
        <em class="bi bi-star-fill"></em>
    </a>
</div>