<div class="myr__testimonials myr__main">
    <div class="myr__testimonials-title">
        <h3>From Patients</h3>
    </div>
    <div class="swiper myr__testimonials-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="myr__testimonials-content">
                <div class="myr__testimonials-text">
                        <p>
                          (Data Required)
                        </p>
                    </div>
                    <div class="myr__testimonials-img">
                        <em class="bi bi-person-circle"></em>
                        <p class="myr__mt2">Dr. Doctor Name <br> (orthopedist)</p>
                    </div>
                </div>
            </div>
            <!--slider -->
            <div class="swiper-slide">
                <div class="myr__testimonials-content">
                    <div class="myr__testimonials-img">
                        <em class="bi bi-person-circle"></em>
                        <p class="myr__mt2">Patient Name</p>
                    </div>
                    <div class="myr__testimonials-text">
                        <p>
                           (Data Required)
                        </p>
                    </div>
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>