
$font-primary: 'Comfortaa';
$font-secondary: 'Encode Sans Condensed',sans-serif;

$font-size: 1rem;
$font-height: 1.5;
$font-weight: 43.75rem;
// ===============Color variable===============
$white: #fff !default;
$black: #000 !default;

// ========== Home color defines ==============

$primary: #4DC1BC !default;
$secondary: #232C60 !default;
$tertiary: #D62028 !default;
$linkcolor: #0778E1 !default;
$richblack: #01010E !default;

// ============== OTHER  Color Define ============

$grey: #868686 !default;
$lightgray1: #D9D9D9 !default;
$charcoal: #333333 !default;
$dutchwhite: #F1D5BE !default;
$unitedblue:  #5c9ae1!default;
$lightcyan: #d9fff8 !default;
$lightgrey2: #F5F5F5 !default;
// ===== Existing Colors ========

$lightgrey3: #C4C4C4 !default;
$lightgrey4: #FAFAFA !default;
$lightgrey5: #818282 !default;
$cobaltblue: #325CAA !default;
$lightcobaltblue: #94B0DC !default;
$offWhite: #e3e3e3 !default;
$darkgrey1: #212121 !default;
$cerulean: #123975 !default;
$coolblack: #09315E !default;
$warning: #FFA500 !default;
$success: #339900 !default;
$gray: #6c757d !default;
$lightgray: #F1F3F5 !default;
$lightgrey: #e2e2e2 !default;
$dark: #212529 !default;


// ==============Media Breakpoint==============
$screen-md: 768px;
$screen-lg: 1280px;
$screen-xl: 1600px;
// ==============Container width===============
$container-xl : 1580px;
$container-lg : 1220px;
$container-md : 740px;