.<footer class="myr__footer__wrap" role="contentinfo">
    <div class="myr__back-top"><a href="#top"><em class="bi bi-arrow-up"></em><span>Back to Top</span></a></div>
    <div class="myr__footer__cols">
        <div class="myr__footer__col">
            <div class="myr__title myr__mb1">
                <h5>Contact Us</h5>
            </div>
            <p class="myr__para myr__footer-text  myr__mb6">
                <b>My refer digital solutions private limited</b><br>
                C/O S. N. Lakhera, Bajar Ward, <br>
                Mandla, Madhya Pradesh, India, Pin code: 481661.
            </p>
        </div>
        <div class="myr__footer__col myr__pl5">
            <div class="myr__title myr__mb1">
                <h5>Explore More</h5>
            </div>
            <ul class="myr__footer-nav">
<!--                <li><a href="#" class="myr__footer-text">Shopping</a></li>-->
<!--                <li><a href="#" class="myr__footer-text">Contact Us</a></li>-->
                <li><a href="/subscription" class="myr__footer-text">Subscription plans</a></li>
                <li><a href="/cancellation-policy" class="myr__footer-text">Cancellation policy</a></li>
                <li><a href="/consent" class="myr__footer-text">Patient consent form</a></li>
                <li><a href="/moupt" class="myr__footer-text">Memorandum of understanding of PT</a></li>
            </ul>
        </div>
<!--        <div class="myr__footer__col">-->
<!--            <div class="myr__title myr__mb1">-->
<!--                <h5>Newsletter</h5>-->
<!--            </div>-->
<!--            <p class="myr__footer-text">Subscribe to our mailing list for the latest happenings in the industry! </p>-->
<!--            <div class="myr__search-wrap pos-rel myr__mt1">-->
<!--                <input type="text" placeholder="youremail@account.com" class="myr__input myr__input-bradius" name="search" aria-label="Search">-->
<!--                <span class="pos-abs">Subscribe</span>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="myr__footer__bottom">
        <div class="myr__footer-copyright">
            <div class="">
                Copyright © 2023 My Refer — All Rights Reserved.
            </div>
            <div class="">
                Image courtesy by FREEPIK
            </div>
            <div class="myr__footer-copyright-link">
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-condition">Terms & Conditions</a>
            </div>
        </div>
    </div>  
</footer>



