{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     {% include  'web_app/layout/head.html' %}
    <title>My Refer Common page</title>
    <link href="{% static 'css/slot-calender.css' %}" rel="stylesheet">
</head>

<body class="myr__home-bg">
    {% include  'web_app/layout/header.html' %}

  <main class="myr__main myr__inner myr__mb3">
        <!--Search Results Column -->
        <div class="myr__main myr__filter-container">
        {% if patient_data %}
       {% for pd in patient_data %}
            <div class="myr__serach-row myr__mt2 myr__mb2">
                <div class="myr__profile myr__dr-profile">
                    <div class="myr__profile-content">
                        <div class="myr__profile-image">
                             <img src="/media/profiles/{{pd.info.profile_image_name}}" alt="" width="200px">
                        </div>
                        <div class="myr__profile-text">
                            <h3 class="myr__search-title">{{pd.info.user_first_name}} {{pd.info.user_last_name}} </h3>
                            <br><br>
                            <p>{{pd.info.user_mobile}}</p>
                            <p>{{pd.info.user_email}}</p>
                            <p>{{pd.address.title}}, {{pd.address.city}}, {{pd.address.state}} </p>
                        </div>
                    </div>
                </div>

                <div class="myr__profile myr__dr-profile">
                    <div class="myr__profile-content">
                        <div class="myr__profile-text">
                            <h3 class="myr__search-title">Appointment Date & Time:  </h3>
                            <p>{{pd.apt.appointment_datetime}}</p>


                            <br>
                            <h3 class="myr__search-title">Payment amount </h3>
                            <p><em>&#x20B9;</em> {{pd.payment.0.payment_amount}} </p>
                            <br>
                            <h3 class="myr__search-title">Status </h3>
                            <p>{{pd.apt_status}} </p>
                        </div>
                    </div>
                </div>
                                         <div class="myr__dr-appointment">
                    <div class="myr__dr-btn">
                    {%  if pd.apt.appointment_status != 7 and pd.apt.appointment_status != 9 %}
                       {%  if pd.apt.appointment_status == 2 %}
                        <a href="#?" id="confirm-apt_{{pd.apt.user_appointment_id}}" class="myr__btn myr__button-primary myr__book-appointment confirm-apt" >Confirm appointment</a>
                        {% endif %}
                        {%  if pd.apt.appointment_status == 5 %}
                        <a href="#?" class="myr__btn myr__button-primary myr__book-appointment modify-apt-btn" id="modify-apt-btn_{{pd.apt.user_appointment_id}}">Modify appointment</a>


                        <div id="modify-apt-div_{{pd.apt.user_appointment_id}}" style="display:none">
    <input type="datetime-local" id="cal-apt-datetime_{{pd.apt.user_appointment_id}}"
       name="meeting-time">

                            <a href="#?" id="modify-apt_{{pd.apt.user_appointment_id}}" class="modify-apt">submit</a>
    <a href="#?" id="close-apt_{{pd.apt.user_appointment_id}}" class="close-apt">Cancel</a>
                        </div>

                             {% endif %}

                        <a href="#?" id="cancel-apt_{{pd.apt.user_appointment_id}}" class="myr__btn myr__button-primary myr__book-appointment cancel-apt" >Cancel appointment</a>

                        <a href="#?" id="consult-apt_{{pd.apt.user_appointment_id}}" class="myr__btn myr__button-primary myr__book-appointment cancel-apt" >Consult Now</a>
                        {% endif %}
                    {%  if pd.apt.appointment_status != 9 %}
                         <a href="#?" id="refer-dr-btn_{{pd.apt.user_appointment_id}}_{{pd.info.user_id}}" class="myr__btn myr__button-primary myr__book-appointment refer-doctor" >Refer to Doctor</a>
                    {% endif %}
                    </div>
                </div>
            </div>

      {% endfor %}
            {% else %}
            <div class="info_box center"><span>Sorry, no record found! </span></div>
            {% endif %}

        </div>
          <input type="hidden" name="user_apt_data" id="user_apt_data" value="">
  <!--Show Sign in Overlay -->
<div class="myr__overlay hidden" id="ReferDrScreen" style="display: none">
    <div class="myr__overlay-wrapper">
        <div class="myr__overlay-body">
            <div class="myr__overlay-content">
                <div class="myr__overlay-header"><a href="#" class="close"><em class="bi bi-x-lg"></em></a></div>
                {% include 'web_app/components/dr-refer-patient.html' %}
            </div>
        </div>
    </div>
</div>
    </main>

    <!--Footer Section -->
     {% include  'web_app/layout/footer.html' %}
     ""
    <!-- JS -->
     {% include  'web_app/layout/footer-lib.html' %}
</body>

</html>