<!DOCTYPE html>
<html lang="en">

        <head>
            {% include  'web_app/layout/head.html' %}
            <title>forgot password</title>
        </head>

        <body class="myr__home-bg">
             {% include  'web_app/layout/header.html' %}

            <main class="myr__main myr__mt3 myr__mb3">

                <div id="forgetpassword-form" style="width: 25%; margin: 0 auto">
                    <div class="myr__login-wrapper">

                        <h3>forgot your password ?</h3>

                        <div class="myr__form myr__mt4">
                            Please enter registered email id of your My refer pysio mitra account and we will send you an email with 6 digit OTP with instructions to reset your password.
                        </div>

                        <div class="myr__form myr__mt4">
                                <span class="error">Please enter mandatory(*) fields</span>
                                <!-- Reset password form -->
                                <form id="forgot-password-form">
                                      <div class="myr__form-row">
                                             {% csrf_token %}

                                           <div class="myr__form-radio myr__form-radio-v2 myr__mb2">

                                                <input type="radio" name="user_type" value="1" checked> Patient
                                                <input type="radio" name="user_type" value="2"> PT
                                                <input type="radio" name="user_type" value="3"> Doctor

                                           </div>

                                            <div class="myr__form-row" id="email_box">
                                                <label for="">Email</label>
                                                <input type="text" id="signin_email" placeholder="Email address">
                                            </div>

                                            <div class="myr__form-row" id="otp_box" style="display: none;">
                                                <label for="">OTP</label>
                                                <input type="text" id="entered_otp"  placeholder="Enter OTP">
                                            </div>

                                            <div class="myr__form-row myr__submit">
                                                <button type="button" id="validate_otp" style="display: none;" class="myr__btn myr__button-primary">Validate OTP</button>
                                            </div>

                                            <div class="myr__form-row myr__submit">
                                                <button type="button" id="forgot_password" class="myr__btn myr__button-primary">Send me instructions!</button>
                                            </div>
                                      </div>
                                </form>

                        </div>
                    </div>
                </div>

            </main>

            <!--Footer Section -->
             {% include  'web_app/layout/footer.html' %}

            <!-- JS -->
             {% include  'web_app/layout/footer-lib.html' %}
        </body>

</html>