{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     {% include  'web_app/layout/head.html' %}
    <title>My Refer Common page</title>
    <link href="{% static 'css/slot-calender.css' %}" rel="stylesheet">
</head>

<body class="myr__home-bg">
    {% include  'web_app/layout/header.html' %}

  <main class="myr__main myr__inner myr__mb3">
        <!--Search Results Column -->
        <div class="myr__main myr__filter-container">

       {% for pd in patient_data %}
            <div class="myr__serach-row myr__mt2 myr__mb2">
                <div class="myr__profile myr__dr-profile">
                    <div class="myr__profile-content">
                        <div class="myr__profile-image">
                             <img src="/media/profiles/{{pd.info.profile_image_name}}" alt="" width="200px">
                        </div>
                        <div class="myr__profile-text">
                            <h3 class="myr__search-title">{{pd.info.user_first_name}} {{pd.info.user_last_name}} </h3>
                            <br><br>
                            <p>{{pd.info.user_mobile}}</p>
                            <p>{{pd.info.user_email}}</p>
                            <p>{{pd.address.title}}, {{pd.address.city}}, {{pd.address.state}} </p>
                        </div>
                    </div>
                </div>

                <div class="myr__profile myr__dr-profile">
                    <div class="myr__profile-content">
                        <div class="myr__profile-text">
                            <h3 class="myr__search-title">Referred by</h3>
                            <p>{{pd.referred_by.user_first_name}} {{pd.referred_by.user_last_name}} </p>
                        </div>
                    </div>
                </div>
                <div class="myr__dr-appointment">
                    <h3 class="myr__search-title">Referred to</h3>
                            <p>{{pd.referred_to.user_first_name}} {{pd.referred_to.user_last_name}}</p>
                    <a href="/doctor/profile/{{pd.referred_to.user_id}}" class="myr__btn myr__button-primary myr__book-appointment" onclick="show_appointment_slots({{r.user_id}})">Click here to book an appointment</a>

                    <div class="myr__dr-btn">
                    </div>
                </div>
            </div>

      {% endfor %}

        </div>
          <input type="hidden" name="user_apt_data" id="user_apt_data" value="">
  <!--Show Sign in Overlay -->
<div class="myr__overlay hidden" id="ReferDrScreen" style="display: none">
    <div class="myr__overlay-wrapper">
        <div class="myr__overlay-body">
            <div class="myr__overlay-content">
                <div class="myr__overlay-header"><a href="#" class="close"><em class="bi bi-x-lg"></em></a></div>
                {% include 'web_app/components/dr-refer-patient.html' %}
            </div>
        </div>
    </div>
</div>
    </main>

    <!--Footer Section -->
     {% include  'web_app/layout/footer.html' %}

    <!-- JS -->
     {% include  'web_app/layout/footer-lib.html' %}
</body>

</html>