<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'web_app/layout/head.html' %}
    <title>Reset Password</title>
</head>

<body class="myr__home-bg">
    {% include 'web_app/layout/header.html' %}

    <main class="myr__main myr__mt3 myr__mb3">

        <div class="reset-password-form" style="width: 25%; margin: 0 auto">
               <div class="myr__login-wrapper">

                       <h3>Change Password</h3>

                   <div class="myr__form myr__mt4">
                       <span class="success_msg"></span>
                        <span class="error"></span>
                        <form id="new-password-form">
                            {% csrf_token %}

                            <div class="myr__form-row">
                                <label for="">Enter new password*</label>
                                <input type="password" id="new_password" placeholder="New password">
                            </div>

                            <div class="myr__form-row">
                                <label for="">Confirm password*</label>
                                <input type="password" id="confirm_password" placeholder="Confirm password">
                            </div>

                            <div class="myr__form-row myr__submit">
                                <button type="button" id="reset_password_button" class="myr__btn myr__button-primary">Change Password</button>
                            </div>
                        </form>
                        <div class="myr__form-row" id="reset_message"></div>

                   </div>
               </div>

               <div class="myr__signup-link">
                    <a href="/login">Back to Login page</a>
               </div>

        </div>
    </main>

     <!--Footer Section -->
             {% include  'web_app/layout/footer.html' %}
     <!-- JS -->
             {% include  'web_app/layout/footer-lib.html' %}
</body>

</html>
