{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'web_app/layout/head.html' %}
    <title>My Refer Common page</title>
</head>

<body class="myr__home-bg">
   {% include 'web_app/layout/header.html' %}


    <main class="myr__main myr__mt3 myr__mb3">
        <div class="myr__row-container myr__flex-md-dir">
            <div class="myr__col-sidebar myr__sm-hidden myr__order-md-1">
               {% include 'common/commonpagedetails/sidebar-1.html' %}
            </div>
            <div class="myr__col-left">
                <div class="myr__sub-title myr__mt2 myr__mb4">
                    <h2>Subscription plans</h2>
                </div>
                <div class="myr__para">

<i><p><b>1.</b> 3 months + @ effective per month rate of Rs 999 + Gst {exempted} (<b>now available single month on same price for limited period</b>)- full spectrum of services as above - your <b>remuneration</b> on par treatment package @ <b>85%** - loyalty voucher*</b> of up to <b>1% discount</b> on UI charge</p>
<p><b>2.</b> 6 months + @ effective per month rate of Rs 699 + Gst {exempted} - full spectrum of services as above - your <b>remuneration</b> on par treatment package @ <b>80%** - loyalty voucher*</b> of up to <b>2.5% discount</b> on UI charges</p>
<p><b>3.</b> 12 months + @ effective per month rate of Rs 499 + Gst { exempted} (<b>limited subscriptions available</b>) - full spectrum of services as above - your <b>remuneration</b> on par treatment package @ <b>70%** - loyalty voucher*</b> of upto <b>5% discount</b> on UI charges</p></i>
<p>1. MyRefer displays the profile information of the therapist on its Website or Mobile App, including but not limited to their Qualifications, Specialities, Work History etc, so that Patients can make an informed choice before taking therapy. The onus of ensuring the accuracy of this information is on the concern therapist and MyRefer is neither responsible nor liable for the accuracy of this information. If incorrect, the concern therapist must inform MyRefer of the same immediately and ensure that the amended information is added at the earliest.</p>
<p>2. MyRefer reserves the right to display or remove any profile created on its platform with or without providing advance notice of the same to the concerned therapist. MyRefer is also not liable for inactive, inaccurate, incomplete, obsolete or fraudulent information entered in their profile by concern therapist added to MyRefer&apos;s website or mobile app. In case a concern therapist provides wrong information and qualifications, myRefer reserves the right to take appropriate legal action against him/her.</p>
<p>3. If a therapist is found to indulge in unethical practices as laid down by relevant central or state council (related to physiotherapy/ occupational therapy) Guidelines or in it&apos;s absence recognised national/ regional physiotherapy association, his profile will be deactivated without notice, and subscription amount is fortified.</p>
<p>4. Therapist will bear the responsibility for their use of MyRefer Services in accordance with the applicable laws and relevant council/ association (as stated in point 3) guidelines . Any contravention of the same while using MyRefer products or services will be the sole responsibility of the therapist and MyRefer will not be liable or responsible for it.</p>
<p>5. MyRefer reserves the right to collect and display feedback for all therapist and therapy centres listed on its website or Mobile app.</p>
<p>6. Therapist agree to use the Website and the Mobile App for the purpose of providing therapy assessment and/or appointment for relevant therapy and shall not use the Services offered by MyRefer for any unauthorized and unlawful purpose.</p>
<p>7. Therapist agree not to post any comment or upload any Content which is defamatory, obscene or objectionable in nature and MyRefer reserves the right to remove any such comments. MyRefer may determine such a comment, by its own discretion, as violation of agreed upon terms and conditions. It is agreed that MyRefer is neither responsible nor liable for any and all such comments and/or content.</p>
<p>8. MyRefer has no role in influencing the therapy of the patient. In case of any untoward incident arising out of this, MyRefer must not be held responsible.</p>
<p>9. Therapist may assist medical doctor during e-consultation by providing e-health assessment to patient, and may charge Rs 50 for that from MyRefer.</p>
<p>11. For every successful conversion of individuals whom you introduce our services, you may get loyalty voucher* from us ( for more information refer your subscription contract).</p>
<p>12. Therapist can set their own Consultation and therapy fees. MyRefer will charge as per term and conditions of individual subscriptions. Therapist agreed to take subsequent patient follow-up via MyRefer with concern doctor after every 3 weeks of therapy. In case a therapist wants to give free consultation/therapy session the same charges will be charged from the therapist.</p>
<p>13. If a therapist fails to give therapy assessment/ therapy session without informing MyRefer within stipulated time, the payment is fortified and may be refunded to the patient as per applicable refund policy.</p>
<p>14. This platform is not valid for any medico legal and emergency consultations. MyRefer will not be responsible for any litigation arising out of such situations.</p>
<p>15. Your remuneration will be settled on monthly basis at 30th day of subscription, for the all completed packages prior to that day and so on. Payment will be credited with you within 7 &ndash; 10 days Post settlement.</p>
<p>16. Company has a right to deduct</p>
<p>Subscription fee from your remuneration, untill a wish from you to terminate the same in written is duly acknowledged by us before the due date of settlement.</p>
<p>17. Therapist must abide the rules of Non disclosure and non compete agreements of Company.</p>
<p>18. Termination of agreement</p>
<p>The provisions of this Agreement shall continue to apply until terminated by either You or &quot;MyRefer&quot; as set for below:</p>
<p>o If You want to terminate this Agreement with us, You may do so by writing to us before the settlement of remuneration at <a data-fr-linked="true" href="mailto:caretherapist@myrefer.co.in">caretherapist@myrefer.co.in</a> subjected to confirmation of same by our side. Any applicable refund will be subjected to terms and conditions as mentioned in our refund policy.</p>
<p>o We reserves the right to, at any time, and with or without notice to terminate the agreement.</p>
<p>18. I hereby declare that I am have read and understood the term and conditions. I give my consent without any external pressure or influence.</p>
<p>**On completion of package by patient, otherwise it is calculated on number of sessions given by you to patient.</p>
<p>*Terms and conditions of use for loyalty voucher</p>
<p>1. Voucher can only be used by subscribed person.</p>
<p>2. Only one scratch voucher will be issued after per successful conversion.</p>
<p>3. Here successful conversion means completion of package booked or subscription period taken by your introduced person.</p>
<p>4. Only one voucher at a time applied for discount.</p>
<p>5. You may gift your voucher to some one you wish.</p>
                </div>
            </div>
            <div class="myr__col-sidebar">
                 {% include 'common/commonpagedetails/sidebar.html' %}
            </div>
        </div>

    </main>

    <!--Footer Section -->
    <!--Footer Section -->
    {% include 'web_app/layout/footer.html' %}
    {% include 'web_app/components/overlay-screen.html' %}

    <!-- JS -->
    {% include 'web_app/layout/footer-lib.html' %}
</body>

</html>