{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'web_app/layout/head.html' %}
    <title>My Refer Common page</title>
</head>

<body class="myr__home-bg">
   {% include 'web_app/layout/header.html' %}
<!--    <div class="myr__banner-color">-->

<!--    </div>-->

    <main class="myr__main myr__mt3 myr__mb3">
        <div class="myr__row-container myr__flex-md-dir">
            <div class="myr__col-sidebar myr__sm-hidden myr__order-md-1">
               {% include 'common/commonpagedetails/sidebar-1.html' %}
            </div>
            <div class="myr__col-left">
                <div class="myr__sub-title myr__mt2 myr__mb4">
                    <h2>Terms and Condition</h2>
                </div>
                <div class="myr__para">

<ol>
<li>The domain name www.myrefer.co.in, an internet based portal, and MyRefer, a mobile application, is solely owned and operated by My Refer Digital Solution Private Limited, a company duly incorporated under the provisions of the Companies Act, 2013 (hereinafter, referred to as "MyRefer" or "We" or "Our" or "Us" or "Company"). The domain name and the mobile applications are collectively referred to as "Website" or "Services".</li>
<li>Your access or use of the Website, sharing of any data on the Website and use of Services hosted or managed remotely through the Website, are governed by the following terms and conditions ("referred to as Terms of Use"), including the applicable policies which are incorporated herein by way of reference. These Terms of Use constitute a legal and binding contract between You, the User on one part and MyRefer on the other Part.</li>
<li>I agree and consent to receive all communications at the mobile number provided, even if this mobile number is registered under DND/NCPR list under TRAI regulations. And for that purpose, I further authorise My Refer Digital Solution Private Limited to share/disclose the information to any relevant third party service provider or any affiliates, group companies, their authorised agents or third party service providers.</li>
</ol>
<p>4.MyRefer gives the User a personal and non-exclusive license to the Product. User may not, however, transfer or sublicense the License to any third party.</p>
<ol start="5">
<li>By accessing, browsing or in any way transacting on the Website, or availing any Services, You signify your agreement to be bound by the Terms of Use. Further, by impliedly or expressly accepting these Terms of Use, you also accept and agree to be bound by our policies, including its Privacy Policy, and such other rules, guidelines, policies, terms and conditions as are applicable for the purposes of accessing, browsing or transacting on the Website, or availing any of the Services, and such rules, guidelines, policies, terms and conditions shall be deemed to be incorporated into, and considered as part and parcel of this Terms of Use. However, if you navigate away from the Website to a third party site, you may be subject to alternative terms and conditions of use, as may be specified on such site. In such event, the terms and conditions of use applicable to that site will govern your use of that site.</li>
<li>The Company reserves the right to change or modify these Terms of Use or any policy or guideline of the Website including the Privacy Policy, at any time and in its sole discretion. Any changes or modifications will be effective immediately upon posting the revisions on the Website, and you waive any right you may have to receive specific notice of such changes or modifications. Your continued use of the Website will confirm your acceptance of such changes or modifications; therefore, you should frequently review these Terms of Use and applicable policies to understand the terms and conditions that apply to your use of the website.</li>
<li>This Terms of Use is published in compliance of, and is governed by the provisions of Indian law, including but limited to:</li>
</ol>
<p><strong>o</strong> the Indian Contract Act, 1872 ("Contract Act");</p>
<p><strong>o</strong> the (Indian) Information Technology Act, 2000 and the rules, regulations, guidelines and clarifications framed thereunder, including the (Indian) Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011, and the (Indian) Information Technology (Intermediaries Guidelines) Rules, 2011;</p>
<p><strong>o</strong> the Drugs and Cosmetic Act, 1940 ("Drugs Act"), read with the Drugs and Cosmetics Rules, 1945 ("Drugs Rules");</p>
<p><strong>o</strong> the Drugs and Magic Remedies (Objectionable Advertisements) Act, 1954: and</p>
<p><strong>o</strong> the Consumer Protection Act, 1986.</p>
<p><strong>o</strong> These Terms of Use constitute an electronic record in terms of the Information Technology Act, 2000 and rules framed there under, as applicable and amended from time to time. This electronic record is generated by a computer system and does not require any physical or digital signatures.</p>
<ol start="8">
<li><strong>Privacy Policy</strong></li>
</ol>
<p>We duly formulated a policy on how the Company collects, uses and discloses personally identifiable information from its users ("Privacy Policy"). The Privacy Policy forms an integral part of these Terms of Use and the Users are requested to refer the same. Please read the privacy policy in detail here and acknowledge the same.</p>
<ol start="9">
<li><strong>Disclaimer</strong></li>
</ol>
<p>We formally document the disclaimer for the usage of the website contents. The Disclaimer forms an integral part of these Terms of Use and the Users are requested to refer the same. Please read the disclaimer in detail here and acknowledge the same.</p>
<ol start="10">
<li><strong>Payment, Fees and Taxes</strong></li>
</ol>
<p>Registration on the Website and the access to the information provided on the Website is free for patients. We does not charge any fee from patients for accessing, browsing and buying through the Website. The User agrees to make all payments through our payments interphase to the respective Seller for purchase of goods/ Services from such Seller. The Users agree and acknowledge that it shall not hold us responsible for any loss or damage caused to the User during the process, due to any acts or omission on the part of the user and third parties viz. the Seller or for any actions/omissions which are beyond our control. <em>For therapist it is advised to refer <strong>MOU</strong> <strong>with</strong> <strong>PT</strong>.</em></p>
<ol start="11">
<li><strong>Modification of Website</strong></li>
</ol>
<p>"We" reserves the right to modify or discontinue, temporarily or permanently, the Website or any features or portions thereof without prior notice. You agree that "we" will not be liable for any modification, suspension or discontinuance of the Website or any other part thereof.</p>
<ol start="12">
<li><strong>Law and jurisdiction</strong></li>
</ol>
<p>These terms and conditions shall be governed by and construed in accordance with Indian Law. Any disputes relating to these terms and conditions shall be subject to the [exclusive] OR [non-exclusive] jurisdiction of the HIGHCOURT OF MADHYA PRADESH.</p>
<ol start="13">
<li><strong>Termination of agreement</strong></li>
</ol>
<p>The provisions of this Agreement shall continue to apply until terminated by either You or "MyRefer" as set for below:</p>
<p><strong>o</strong> If You want to terminate this Agreement with us, You may do so by writing to us any time at care@myrefer.co.in subjected to confirmation of same by our side. Any applicable refund will be subjected to terms and conditions as mentioned in our refund policy.</p>
<p><strong>o</strong> We reserves the right to, at any time, and with or without notice to terminate the agreement.</p>
                </div>
            </div>
            <div class="myr__col-sidebar">
                 {% include 'common/commonpagedetails/sidebar.html' %}
            </div>
        </div>

    </main>

    <!--Footer Section -->
    <!--Footer Section -->
    {% include 'web_app/layout/footer.html' %}
    {% include 'web_app/components/overlay-screen.html' %}

    <!-- JS -->
    {% include 'web_app/layout/footer-lib.html' %}
</body>

</html>