{% load static %}
<style>

</style>
<main class="myr__main myr__mt3 myr__mb3">
        <div id="signin-form">
            <div class="myr__login-wrapper">
    <h5>Add Coupons👋</h5>

        <div class="myr__form myr__mt4">
         <div class="error" id="error_msg">Error message</div>
        <div class="myr__form-row">
            <label for="">Coupon Name*</label>
            <div class="myr__form-block">
                <input type="text" name="coupon_name" id="coupon_name" required="required" placeholder="This field is required">
            </div>
        </div>

        <div class="myr__form-row">
            <label for="">Coupon Code* </label>
            <input type="text" name="coupon_code" id= "coupon_code" required="required" placeholder="This field is required">
        </div>

        <div class="myr__form-row">
            <label for="">Coupon value*</label>
            <input type="text" name="coupon_value" id= "coupon_value" required="required" placeholder="This field is required">
        </div>

        <div class="myr__form-row">
            <label for="">Coupon Description</label>
            <input type="text" name="coupon_description" id= "coupon_description" required="required" placeholder="This field is required">
        </div>

        <div class="myr__form-row myr__submit">
            <button class="myr__btn myr__button-primary" id="addCoupon" >Add Coupon</button>
        </div>
   </div>

</div>

        </div>
    </main>