{% load static %}
<style>

</style>
<main class="myr__main myr__mt3 myr__mb3">
        <div id="signin-form">
            <div class="myr__login-wrapper">
    <h5>Register Doctor 👋</h5>
                <form>
        <div class="myr__form myr__mt4">
        <div class="myr__form-row">
            <label for="">First name</label>
            <div class="myr__form-block">
                <!--<input type="text" name="signin_mobile_number" id="signin_mobile_number">-->
                <input type="text" name="first_name" id="first_name" required="required" placeholder="This field is required">
            </div>
        </div>
        <div class="myr__form-row">
            <label for="">Last name</label>
            <input type="text" name="last_name" id= "last_name" required="required" placeholder="This field is required">
        </div>
        <div class="myr__form-row">
            <label for="">Username</label>
            <input type="text" name="username" id= "username" required="required" placeholder="This field is required">
        </div>
        <div class="myr__form-row">
            <label for="">Password</label>
            <input type="text" name="password" id= "password" required="required" placeholder="This field is required">
        </div>
        <div class="myr__form-row">
            <label for="">Contact Number</label>
            <input type="text" name="mobile" id= "mobile" required="required" placeholder="This field is required">
        </div>
        <div class="myr__form-row">
            <label for="">Email</label>
            <input type="text" name="email" id="email" required="required" placeholder="This field is required">
        </div>
        <input type="hidden" name="user_type_id" id="user_type_id" value="3">
        <div class="myr__form-row myr__submit">
            <button class="myr__btn myr__button-primary"id="register" >Register</button>
        </div>
   </div>
                    </form>
</div>

        </div>
    </main>