<div class="myr__login-wrapper">
    <h5>Welcome Admin 👋</h5>
    <h3>Login to your account</h3>
    <div class="myr__form myr__mt4">
        <div class="error" id="error_msg"></div>
        <div class="myr__form-row">
            <label for="">Username</label>
            <div class="myr__form-block">
                <!--<input type="text" name="signin_mobile_number" id="signin_mobile_number">-->
                <input type="text" name="username" id="username">
            </div>
        </div>
        <div class="myr__form-row">
            <label for="">Password</label>
            <input type="password" name="password" id= "password">
<!--            <div class="myr__error">-->
<!--                <span class="myr__otp-error">Incorrect OTP, please enter OTP sent on your mobile</span>-->
<!--                <span class="myr__timer">0:10</span>-->
<!--            </div>-->
        </div>
        <div class="myr__form-row myr__submit">
            <button class="myr__btn myr__button-primary"id="login" >Login</button>
        </div>
   </div>
</div>